#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#map-container {
  height: 100%;
  width: 100%;
  /* temporarily set the background color so we can tell where the map container is positioned */
  background-color: lightgrey;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.reset-button {
  position: absolute;
  top: 50px;
  z-index: 1;
  left: 12px;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}


.marker {
  border: none;
  cursor: pointer;
  height: 56px;
  width: 56px;
  background-image: url('marker.png');

}


html, body, #root, #map-container {
  width: 100%;
  height: 100%;
  margin: 0;
}

.button-container {
  display: flex; 
  position: fixed; 
  left: 0.75rem; 
  z-index: 50; 
  margin-top: 0.75rem; 
  margin-top: 3.875rem; 
  flex-direction: column; 
  align-items: flex-start; 
}

button {
  color: #1F2937;
  background-color: #ffffff;
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
  border: 1px solid #e5e7eb;
  cursor: pointer;
}

button:hover {
  background-color: #f3f4f6;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

button.active, button:active {
  background-color: #e5e7eb;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.06);
}


img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.mapboxgl-popup-content {
  min-width: 200px;
}
.route-metric-row {
  align-items: center;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  padding-right: 4px 12px;
}
.row-title {
  align-items: center;
  background-color: #4094ae;
  border: 1px solid #4094ae;
  border-radius: 16px;
  color: #ffffff;
  font-weight: normal;
  justify-content: center;
  margin: 0;
  padding: 4px 12px;
  text-align: center;
}
.row-value {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.875rem;
  padding-right: 16px;
  text-align: right;
}
.route-name {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.875rem;
  margin: 0;
}
.route-city {
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 0.8rem;
  margin-bottom: 0;
  padding: 8px;
}